---
title:分析 API
parent: Home
description: 'The <span translate="No">分析 API</span>允許您以編程方式獲取 Video Cloud 帳戶的分析數據。您還可以在 Video Cloud Studio 的分析模塊中查看內置的分析報告。以編程方式訪問數據為您提供了額外的靈活性。'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <table width="100%" border="0">
    <tbody>
      <tr>
        <td width="30%">
        <div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554433001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
        <td width="70%">
        <h3 id="Typical_uses">典型用途</h3>
  
        <ul>
          <li>創建自定義圖表和顯示</li>
          <li>一起使用多個 API - 例如，使用<span translate="No">內容管理系統 API</span>對於上週觀看次數最多的視頻</li>
          <li>將您的視頻分析數據與其他站點分析數據相結合</li>
        </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>