---
title:播放接口
parent: Home
description:  '<p>Playback API 用於從 Video Cloud 獲取視頻和播放列表數據。它通常用於將視頻數據獲取到網頁或移動應用程序中的播放器。&nbsp; Playback API是低延遲API，旨在供客戶端從網頁或移動應用程序獲取視頻或播放列表數據時使用。在將Video Cloud與CMS或其他系統集成時，它不是通用的媒體管理API，為此，您應該使用<a href="/cms/index.html">CMS API</a>。</p>

<p>Playback API的身份驗證需要一個策略密鑰，您可以使用<a href="/policy/index.html">政策API</a>或者<a href="/policy/getting-started/policy-keys.html">來自玩家</a>在您的帳戶中。</p>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6004281287001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>