---
title:通過 MRSS 攝取
parent: Home
description: 'This section provides information about ingesting videos, video assets, and metadata using a remotely hosted MRSS feed.'
layout: staging
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <section class="bcls-card-small">
    <div class="card-content">
      <h2>入門</h2>
      <ul>
        <li><a href="/mrss-ingestion/getting-started/ingesting_from_a_remotely_hosted_mrss_feed.html">通過MRSS Feed進行攝取</a></li>
        <li><a href="/mrss-ingestion/getting-started/xml-manifest-for-ingestion-via-mrss.html">通過 MRSS 攝取的 XML 清單</a></li>
      </ul>
    </div>
  </section>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
        <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
          <div class="card-content">
            <h2>{{ subsection.name }}</h2>
            <ul>
              {% for doc in subsection.docs %}
              <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>