---
title: '搜索' 
description:本節提供了使用 CMS API 搜索視頻和播放列表的指南。
parent: CMS API
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <section>
    <h2 id="Topics_in_this_section">主題在{{ page.title }}</h2>
    <ul class="bcls-topic-list">
      {% for item in site.data.navigation %} {% if item.name == page.parent %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
      <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
      {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
    </ul>
</section>
</article>