---
title:播放器管理 API
parent: Home
description:  '<p>播放器管理是指將播放器的創建，編輯和管理作為發布者的資源。播放器管理是通過服務器端的REST API實現的，該API允許其使用者創建，配置，預覽和發布播放器實例。</p>

<p>請注意，大多數可以使用API執行的操作也可以在<a href="https://studio.support.brightcove.com/players/getting-started-players-module.html">工作室</a>。</p>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554436001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>