---
title:OAuth API
parent: Home
description:  '<p>Brightcove 實施<a href="http://oauth.net/2/">OAuth2</a>&nbsp;允許您獲取各種 Brightcove API 的訪問令牌。</p>
<p>Brightcove 的實現由兩部分組成：</p>
<ul>
  <li>OAuth API - 提供對所有可用 OAuth 功能的訪問。</li>
  <li>OAuth 憑據 UI - 可通過 Studio 中的帳戶設置界面訪問，該 UI 提供了一種簡單的方法來註冊將使用 Brightcove API 並為其生成客戶端 ID 和客戶端密鑰的應用程序。看<a href="/general/managing-api-authentication-credentials.html">管理 API 身份驗證憑據</a>有關使用 OAuth UI 的說明。</li>
</ul>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>